p {
  margin: 0 !important;
}

/* add card drowpdown code */
/* card background */
.cart_check {
  cursor: default;
  position: absolute;
  top: 60px;
  right: -250px;
  width: 240px;
  z-index: 100;
  height: 0px;
  opacity: 1;
  background-color: #fff;
  padding: 5px 10px;
  box-shadow: -2px 4px 10px 2px #e1e7ec;
  transition: all ease 0.3s;
  border: 1px solid #e1e7ec;
  border-radius: 5px;
}
/* card front item */
.cart_check .card {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: -100%;
  height: 0px;
  padding: 5px 0px !important;
  border-radius: 0 !important;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e1e7ec;
  transition: all ease-in-out 0.3s;
  opacity: 0;
}
.cart:hover .cart_check {
  transition: all ease-in-out 0.3s;
  top: 65px;
  height: auto;
  opacity: 1;
  right: 8px;
  width: 240px;
}
.cart:hover .card {
  width: 100%;
  height: 78px;
  opacity: 1;
}

.cart_check .card .w-100 {
  width: 50px !important;
  height: 40px;
}
.cart_check .card .card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 13px;
}
.cart_check .card .card-body .card-title {
  font-size: 14px;
  font-weight: 600;
  color: #313b47e5;
  text-transform: capitalize;
  margin: 0;
}
.cart_check .card .card-body .card-text {
  font-size: 14px;
}
.card > .card-body > .card_close_icon {
  color: red;
  font-size: 18px;
}

.cart_check > .card_total {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
  font-weight: 500;
}
.cart_check > .card_btn {
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.cart_check .btn-card {
  color: #313b47e5 !important;
  background-color: #f5f5f5;
  transition: all ease-in-out 230ms;
}
.cart_check .btn-out {
  color: #fff !important;
  background-color: #0da9ef;
  transition: all ease-in-out 230ms;
}
.cart_check .btn-card:hover {
  background-color: #e1e7ec;
}
.cart_check .btn-out:hover {
  background-color: #079de2;
}
.cart_check .btn {
  font-size: 15px !important;
  font-weight: 600;
  text-transform: capitalize !important;
  border: 1px solid #e1e7ec;
  border-radius: 20px;
  padding: 7px 10px;
}
.btn:focus {
  box-shadow: none;
}
