.cart_check {
  position: absolute;
  top: 175px;
  right: -221px;
  width: 220px;
  height: 300px;
  background-color: gray;
  transition: all ease-in 230ms;
  z-index: 10;
  opacity: 0;
}
.cart:hover > .cart_check {
  transition: all ease-in 230ms;
  opacity: 1;
  top: 75px;
  right: 1px;
}
